body
    margin: 0
    padding: 30px 5%
    font-size: 16px
    font-family: "Liberation Sans", Arial, sans-serif
    background: #333
    color: #FFF

h1
    color: #282828;
    text-shadow: -1px -1px #111, 1px 1px #555;
    font-size: 30px;
    margin: 0 0 15px 0;

#cmdInput
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 0.5em;
    background: #333;
    color: #FFF;
    padding: 0.5em;
    font-family: "Liberation Mono", "Courier New", monospace;
    width: 100%;
    outline: none;
    transition: 1s;
    &:focus
        border: 2px solid rgba(255,255,255,0.3);
        background: rgba(0,0,0,0.2);
        transition: 0.2s;

#termCollection
    margin: 0 -15px;

#termCollection .term-box
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 16px;
    width: 770px;
    padding:  0.8em 1em;
    margin: 14px;
    border-radius: 10px;
    background: #222;
    box-shadow: 2px 2px 9px rgba(0,0,0,0.5);
    border: 2px solid rgba(255,255,255,0.3);
    transition: 1s;

#termCollection .term-box .term-content
    font-family: "Liberation Mono", "Courier New", monospace;
    width: 770px;
    height: 25em;
    overflow-y: scroll;
    white-space: pre;
    padding-right: 30px;

#termCollection .term-box .title
    display: block;
    width: 770px;
    font-size: 100%;
    font-family: "Liberation Mono", "Courier New", monospace;
    font-weight: bold;
    white-space: pre;
    margin: -0.4em -0.6em 0.3em -0.6em;
    padding: 0.4em 0.6em;
    background: rgba(20,20,20,0.8);
    text-shadow: 0 0 4px #000, 0 0 4px #000;
    border-radius: 5px;

#termCollection .term-box .title-out
    position: absolute;
    top: 0.8em;

#termCollection .term-box .title-in
    // This copy will only fill the same vertical space of the visible "title-out".
    // so there is on problem when the scroll is on top, with the fixed title.
    visibility: hidden;

#termCollection .term-box.success
    background: #030;

#termCollection .term-box.error
    background: #500;

#termCollection .term-box .stdout
    background: transparent;

#termCollection .term-box .stderr
    background: rgba(255,0,0,0.2);

#termCollection .term-box.success .stderr
    opacity: 0.5;

#shutdownBtn
    position: absolute;
    top: 5px;
    right: 5px;
    border: #111;
    background: #222;
    color: #CCC;
    border-radius: 5px;
    padding: 10px;

